.character {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: azure;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  box-shadow:
    0px 35px 20px -17px rgba(146, 241, 38, 0.3),
    0px 10px 15px -3px rgba(112, 219, 41, 0.1);
}
